* {
  padding: 0;
  margin: 0;
  /*border: red 1px solid;*/
}

header {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: row wrap;
  width: 100%;
  height: 5%;
  background-color: #FFF;
}

header nav {
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
} 

header ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

header ul a {
  color: #482AF5;
  text-decoration: none;
}

header li {
  display: inline;
}

main {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  text-align: center;
  background-color: #FFF ;
}

footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 2em;
  background-color: #FFF;
}