* {
  padding: 0;
  margin: 0;
  /*border: red 1px solid;*/
}

header {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: row wrap;
  width: 100%;
  height: 5%;
  background-color: #FFF;
}

header nav {
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
} 

header ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

header ul a {
  color: #482AF5;
  text-decoration: none;
}

header ul a:hover {
  text-decoration: underline;
}

header li {
  display: inline;
}

main {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  background-color: #FFF ;
}

#Portfolio {
  width: 80%;
  padding-left: 2rem;
}

#Portfolio h3 {
  font-size: 34px;
}

#Portfolio ul {
  padding-left: 2rem;
}

.projectTitle {
  display: flex;
  justify-content: space-between;
}

.projectTitle h3 {
  display: inline;
}

button {
  box-shadow: 1px 1px black;
}

button a {
  text-decoration: none;
}

button:hover {
  background-color: gray;
}

button:active {
  background-color: darkgray;
  box-shadow: none;
}

#Intro {
  text-align: center;
  padding-bottom: 4rem;
}

footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 2em;
  background-color: #FFF;
}